
body{
    font-size: 1em;
    max-width: 1280px;
    max-height: 1024px;
    margin: 1em auto;
    padding: 0;
    display: flex;
    justify-content: center;
}
#container {
    width: 90vw;
    height: 90vh;
    border: 0.1em solid black;
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    padding-top: 1em;
}
#logo{
    width:15%;
    font-size: 1.2em;
    padding: 0.5em;
    height: 1.4em;
    border:  0.1em solid black;
}

header{
    margin-top: 1em;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    height: 2em;
    justify-content: space-between;
    align-items: center;
    width:95%;
    border:  0.1em solid black;
}
nav{
    margin-left: 0.5em;
}
#searchbar{
    align-self: center;
    margin-right: 1em;
}
input{
    height: 60%;
    width: 100%;
}
main{
    margin-top:1em;
    width:95%;
    height: 70%;
    display: flex;
    justify-content: space-between;
}
section{
    display:flex ;
    flex-direction: column;
    height: 100%;
    width: 70%;
    border:  0.1em solid black;
    padding-left: 1em;
}
h3,h4{
    font-weight: 500;
}
#section-back{
    height: 20em;
    background-color: gray;
    width:95%;
}
p{
    width: 95%;
    font-size: 1.1em;
}
aside{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}
#list{
    height:45%;
    padding: 0.2em;
    border:  0.1em solid black;
}
ul{
    margin: 0.5em;
    padding: 0;
    list-style-type: none;
}
#aside-image{
    margin-top: 1em;
    height:50%;
    display: flex;
    padding-left: 0.5em;
    padding-right: 0.5em;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
    border:  0.1em solid black;
}
h4{
    margin-top: 1em;
    margin-bottom: 0.3em;
}
.row{
    display: flex;
    height: 85%;
    width:95%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 0.5em;
}
.grey-square{
    margin-right: 0.5em;
    width: 20%;
    height: 3em;
    background-color: gray;
}
small{
    margin-top: 2em;
}
@media screen and (max-width: 768px) {
    header>nav {
        width:100%;
    }
    nav a{
        margin-right: 3em;
        line-height: 2em;
    }
    header{
        flex-wrap: wrap-reverse;
    }
    #searchbar {
        margin-left: 27em;
        margin-bottom: 1.9em;
    }
    section{
        width: 60%;
    }
    p{
        font-size: 1.2em;
    }
    #section-back {
        height: 10em; 
    }
    #list{
        height: 30%;
    }
    #aside-image{
        height: 80%;
    }
    .grey-square{
        width: 30%;
    }
    .one-row{
        margin-bottom: 2em;
    }
}
@media screen and (max-width: 375px) /*я сделал мин размер 375, потому что у меня в браузере нет девайса с шириной меньше*/
{
    #logo{
        height: fit-content;
        width:40vw;
    }
    #searchbar{
        margin-left: 21em;
        width:8em;
    }
    header{
        font-size:0.6em;
        padding-left: 1em;
        width:90%;
    }
    #list{
        display: none;
    }
    main{
        flex-direction: column;
    }
    section{
        font-size: 0.6em;
        width:95%;
    }
    #aside-image{
        width:18.5em;
        height: 4em;
    }
    h4{
        margin-top:0;
    }
    .grey-square{
        height: 1.5em;
        width:9%;
    }
} 